VITE_BASE_URL_SERVER=

# ------- for FB DB --------
# VITE_API_KEY=AIzaSyCWxgr8dU1uUNZwPdn-26h55uJPwB57Q1I
# VITE_AUTH_DOMAIN=checkin-494fd.firebaseapp.com
# VITE_PROJECTID=checkin-494fd
# VITE_STORAGEBUCKET=checkin-494fd.firebasestorage.app
# VITE_MESSINGSENDERID=65384939807
# VITE_APPID=1:65384939807:web:358b7d7d3b5f92df27b02a
# VITE_MEASUREID=G-B9FFQVWKPG

# --------- for stogare --------
VITE_API_KEY_STOGARE=
VITE_AUTH_DOMAIN_STOGARE=
VITE_PROJECTID_STOGARE=
VITE_STORAGEBUCKET_STOGARE=
VITE_MESSINGSENDERID_STOGARE=
VITE_APPID_STOGARE=
VITE_MEASUREID_STOGARE=